doctype html
html(lang='en')
    head
        title Entity Details
        link(rel='stylesheet', href='/styles.css')
    body
        h1 Entity Details
        p Name: #{entity.name}
        p Description: #{entity.description}
        // Add more fields as necessary
